@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');

/* ----- PELIKULEN ZERRENDA --------------*/
.divBideoa{
  text-align: center;
  width: 430px;
  float: left;
  margin-left: 10px;
}
/*.divBideoa:first-child{
  margin-top: 25px;
}*/
.divBideoa p{
  background-color: rgba(23, 54, 54, 0.466);
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: small;
}

.divBideoa span i{
  position:relative;
  top:20px;
  left:-25px;
}

/* ---------------POP UP LEIHOA------------------*/

.kutxa {
  position: fixed;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
  padding: 0px 0px 20px 0px;
  background-color: rgba(23, 54, 54);
  display: none;
  margin: 0 auto; 
}

/* ---------------WRAPPER LEIHOA------------------*/
.playerWrapper {
  display: none;
  position: fixed;
  bottom: 0px;
  right:0px;
  border: 1px solid red;
  width: 300px;
  height: 200px;
}

.playerWrapper span {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ---------------MENUA------------------*/
:root {
	--gorria: #E50914;
	--fondoa: #141414;
}

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

header .logo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--gorria);
  font-size: 40px;
}

.container {
  width: 90%;
  margin: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 30px 0;
  background: var(--fondoa);
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav a {
	color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}
header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---------------KATEGORIAK------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: var(--fondoa);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #AAA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #FFF;}

.show {display: block;}

/* ---------------Pelikula Nagusia------------------*/

.pelikula-nagusia {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.pelikula-nagusia .container {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.pelikula-nagusia .titulua {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelikula-nagusia .azalpena {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.pelikula-nagusia .botoia {
  background: rgba(0,0,0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
}

.pelikula-nagusia .botoia:hover {
  background: #fff;
  color: #000;
}

.pelikula-nagusia .botoia i {
  margin-right: 1.25em;
  text-align: center;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .container {
    flex-direction: column;
    text-align: center;
  }

  .pelikula-nagusia {
    font-size: 14px;
  }

  .pelikula-nagusia .azalpena {
    max-width: 100%;
  }
}